

[Unit]
Description=Cart Service
After=network.target

[Service]
User=roboshop

Environment=REDIS_HOST=redis.udaykiran.site
Environment=CATALOGUE_HOST=catalogue.udaykiran.site
Environment=CATALOGUE_PORT=8080

ExecStart=/usr/bin/node /app/server.js
SyslogIdentifier=cart
Restart=always

[Install]
WantedBy=multi-user.target